@bower-dir: "../bower_components";

@import "@{bower-dir}/Skeleton-Less/less/skeleton.less";


.pad-top{
	&-lg{
		padding-top: 18rem;
	}
	&-md{
		padding-top: 12rem;
	}
	&-sm{
		padding-top: 6rem;
	}
}

.header{
	text-align: center;
	padding-top: 18rem;
}

.main-panel{
	padding-top: 2rem;
}

// === NavBar ===========================
.navbar{
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid @light-grey;
}