<form class="six columns offset-by-three" id="sceneForm"  ng-submit="CreateScene(url);">
	<div class="row">
		<div class="six columns">
			<input class="u-full-width" type="url" placeholder="http://www.any-old-website.com" id="urlInput" ng-model="url" required>
		</div>
		<div class="six columns">
			<select class="u-full-width">
				<option ng-repeat='generator in Generators'>{{generator}}</option>
			</select>
		</div>
	</div>
	<p><em>File upload coming soon</em></p>
	<input type="submit" data-ng-disabled="loading" value="Lets go!">
	<em ng-show="loading">Loading...</em>
</form>