<h2>Bread bin <a href="/#/scene/new" class="button">New</a></h2>

<div ng-if="scenes.length <= 0">No scenes yet. <a href="/#/scene/new">Go make one</a></div>

<div>
	<span ng-if="numPending >= 1">{{numPending}} Waiting to toast</span>
	<br ng-if="numInProgress >= 1 && numPending >= 1"/>
	<span ng-if="numInProgress >= 1">{{numInProgress}} Toasting</span>
</div>
<div ng-repeat="row in rows" class="row">
	<div ng-repeat="scene in row" class="four columns">
		<hr/>
		<a href="/#/scene/{{scene.sceneID}}/{{scene.completedAt}}">
			<img ng-src="{{scene.thumbnailURI}}" class="u-max-full-width" />
			<h6>{{scene.resourceURI}}</h6>
		</a>
	</div>
</div>
<button ng-click="loadMore()">More</button>